[submodule "ansible/roles/wcl-zabbix-custom-scripts/files/zabbix-scripts"]
	path = ansible/roles/wcl-zabbix-custom-scripts/files/zabbix-scripts
	url = https://github.com/Wiredcraft/zabbix-scripts.git
