<h2>Aliyun Billing Report</h2>

<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Environment</th>
      <th>Product</th>
      <th align="right">Payment Amount</th>
    </tr>
  </thead>
  <tbody>
  {{#.}}
    <tr>
      <td>
        {{ Customer }}
      </td>
      <td>
        {{ Environment }}
      </td>
      <td>
        {{ ProductCode }}
      </td>
      <td align="right">
        {{ PaymentAmount }}
      </td>
    </tr>
  {{/.}}
  </tbody>
</table>
